body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(87, 82, 82);
}
.columns {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */

  justify-content: center;
  margin-top: 10%;
  align-items: stretch;
  column-gap: 1%;
  row-gap: 5%;
}
.col {
  display: flex;
  flex-wrap: wrap;
  width: calc(30%-0.27em);
  height: 300px;
  margin-left: 1%;
  margin-right: 1%;
  padding: 4%;

  background-color: rgb(211, 206, 141);
  border: 1.3px solid;
  border-radius: 3%;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
}
.col h3 {
  font-size: 20px;
  line-height: 25px;
  margin-left: 5%;
  align-self: center;
  white-space: nowrap;
  font-style: bold;
  color: rgb(211, 206, 141);
  text-shadow: 0 -1px 0 white, 0 1px 0 darkgray;
}
.col p {
  color: black;
  /* background-color: beige; */
  margin-left: 0;
  width: 100%;
  height: 100%;
  /* padding: 0; */

  align-self: center;
  flex-grow: 1;
  text-align: center;
}
.sticker {
  position: relative;

  /* padding: 20px; */
  background-color: #000000;
  /* border: 1px solid #000000; */
}

.sticker::before {
  content: "";
  position: absolute;
  top: -18px;
  /* left: 50%;   */
  transform: translateX(-50%);
  width: 140px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #000000;
  border-radius: 1px 1px 0 0;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-left: 33vh;
}
